<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
<body>
    <!--导航-->
    <div th:replace="~{_fragments::#nav(isactive='3')}"></div>
    <!--<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">MaのBlog</h2>
                <a href="#" class="m-item item m-mobile-hide" th:href="@{/}"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide" th:href="@{/types/-1}"><i class="idea icon"></i>分类</a>
                <a href="#" class="active m-item item m-mobile-hide" th:href="@{/archives}"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide" th:href="@{/tags/-1}"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide" th:href="@{/about}"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>-->
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!--头部-->
            <div class="ui top attached padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}">124</h2>篇博客
                    </div>
                </div>
            </div>

            <th:block th:each="item:${archiveMap}">
                <h2 class="ui center aligned header" th:text="${item.key}">2017</h2>
                <div class="ui fluid vertical menu">
                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog:${item.value}">
                    <span>
                        <i class="mini teal circle icon"></i><span th:text="${blog.title}">关于刻意练习的清单</span>
                        <div class="ui teal basic left pointing label m-padded-mini" th:text="${#dates.format(blog.updateTime,'MMMdd')}">9月02</div>
                    </span>
                        <div class="ui red basic left pointing label m-padded-mini" th:text="${blog.flag}">原创</div>
                    </a>

                    <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                        <div class="ui red basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                        <div class="ui red basic left pointing label m-padded-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                        <div class="ui red basic left pointing label m-padded-mini">原创</div>
                    </a>
                </div>
            </th:block>





           <!-- <h2 class="ui center aligned header">2016</h2>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                    <div class="ui red basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                    <div class="ui red basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                    <div class="ui red basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清单
                        <div class="ui teal basic left pointing label m-padded-mini">9月02</div>
                    </span>
                    <div class="ui red basic left pointing label m-padded-mini">原创</div>
                </a>
            </div>-->
        </div>
    </div>
    <br>
    <br>
    <!--底部footer-->
    <div th:replace="~{_fragments::#footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/sematic.min.js"></script>
<script src="../static/js/activate-power-mode/activate-power-mode.js" th:src="@{/js/activate-power-mode/activate-power-mode.js}"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        //动态加载底部最新博客
        $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
        /*activate文字输入效果*/
        POWERMODE.colorful = true; // 火花各种颜色
        POWERMODE.shake = true; // 打字屏幕颤抖效果  true开启，false关闭
        document.body.addEventListener('input', POWERMODE);

    </script>
    <div th:replace="~{_fragments::canvas-js}"></div>
</body>
</html>